---
import ContainerSection from "@/components/ui/ContainerSection.astro";
import { Image } from "astro:assets";

// Imágenes Bancos
import bancoBCP from "@assets/bancos/banco-bcp.webp";
import bancoBBVA from "@assets/bancos/banco-bbva.webp";
import bancoScotiabank from "@assets/bancos/banco-scotiabank.webp";
import bancoBanbif from "@assets/bancos/banco-banbif.webp";
import bancoInterbank from "@assets/bancos/banco-interbank.webp";
import bancoPichincha from "@assets/bancos/banco-pichincha.webp";
import SectionHeading from "@/components/ui/SectionHeading.astro";

const bancosInmediatos = [
  { src: bancoBCP, alt: "Transferencia inmediata con Banco BCP Perú" },
];

const bancosInterbancarios = [
  { src: bancoInterbank, alt: "Cambio de dólares online con Interbank Perú" },
  { src: bancoPichincha, alt: "Banco Pichincha pagos interbancarios" },
  { src: bancoBBVA, alt: "BBVA Continental transferencias seguras" },
  { src: bancoBanbif, alt: "BanBif banca por internet" },
  { src: bancoScotiabank, alt: "Scotiabank Perú operaciones en dólares" },
];
---

<ContainerSection
  maxWidth="max-w-300"
  ariaLabelledby="title-banner"
  classContainer="md:w-[90%] md:lg:w-[85%] md:px-8 flex flex-col gap-8 mx-auto"
>
  <SectionHeading
    id="titulo-banner-bancos"
    shortText="Velocidad y Respaldo Bancario"
    title="Transfiere con seguridad"
    subtitle="desde cualquier banco"
    description="Contamos con cobertura con los bancos más importantes del Perú"
    align="center"
  />

  <div class="flex flex-col md:flex-row justify-center gap-6">
    <article class="border border-neutral-300 p-4 rounded-2xl">
      <h3 class="text-xl lg:text-2xl">
        Transferencias inmediatas
      </h3>
      <p class="text-sm mb-4 text-neutral-500">Recibe en menos de 15 min</p>
      {
        bancosInmediatos.map((bancos) => (
          <Image
            src={bancos.src}
            alt={bancos.alt}
            width={100}
            height={100}
            class="size-15 rounded-xl"
          />
        ))
      }
    </article>

    <article class="border border-neutral-300 p-4 rounded-2xl">
      <h3 class="text-xl lg:text-2xl">
        Transferencias Interbancarias
      </h3>
      <p class="text-sm mb-4 text-neutral-500">Recibe en menos de 15 min</p>
      <div class="flex justify-center sm:justify-start gap-4 flex-wrap">
        {
          bancosInterbancarios.map((bancos) => (
            <Image
              src={bancos.src}
              alt={bancos.alt}
              width={100}
              height={100}
              class="size-15 rounded-xl"
            />
          ))
        }
      </div>
    </article>
  </div>

  <a
    href="/terminos-condiciones"
    class="underline underline-offset-4 text-neutral-400 text-xs self-end md:self-center lg:pr-10"
  >
    * Aplica TyC *
  </a>
</ContainerSection>

<style>
  /* Filtro para que los logos se vean blancos y nítidos si el fondo es azul */
  /* Si prefieres que mantengan su color original, quita 'brightness-0 invert' */
  .invert {
    filter: brightness(0) invert(1);
    opacity: 0.9;
  }
</style>
