---
import Icon from "./Icon.astro";

const socialMedia = [
  { iconName: 'facebook', href: 'https://www.facebook.com/', ariaLabel: 'Facebook El Gordito' },
  { iconName: 'instagram', href: 'https://www.facebook.com/', ariaLabel: 'Instagram El Gordito' },
  { iconName: 'tiktok', href: 'https://www.facebook.com/', ariaLabel: 'Tiktok El Gordito' },
  { iconName: 'youtube', href: 'https://www.facebook.com/', ariaLabel: 'Youtube El Gordito' },
] as const;
---

<div class="flex gap-4">
  {socialMedia.map((iconSocial) => (
    <a 
      href={iconSocial.href}
      aria-label={iconSocial.ariaLabel}
      target="_blank"
      rel="noopener"
    >
      <Icon 
        name={iconSocial.iconName}
        class="size-8 hover:scale-110 transition-transform"
      />
    </a>
  ))}
</div>